.container {
  height: 100vh;
  background-color: green;
  position: relative;
}

.car {
  width: 10rem;
  position: absolute;
}

body {
  margin: 0;
}

.rotateRight {
  transform: rotate(360deg);
}

.rotateLeft {
  transform: rotate(180deg);
}

.rotateDown {
  transform: rotate(90deg);
}

.rotateUp {
  transform: rotate(270deg);
}
